Source: lmd-gaming
Maintainer: lmd Linux <lmd.linux@gmail.com>
Section: misc
Priority: important
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13)

Package: lmd-gaming
Architecture: amd64
Depends: gamemode, gamescope, lmd-desktop, mangohud:i386, mangohud:amd64, mesa-utils, protontricks, retroarch, steam-installer
Description: Gaming metapackage for lmd Linux
 Collection of gaming packages and configurations for lmd Linux
